.row{
    display: flex;
    margin-left: 0;
    margin-right: 0;
}
.col, .col-2, .col-3{
    margin: 1%;
    padding: 1%;
    background-color: aquamarine;
    flex:1;
}

.col-2{
    flex:2;
}
.col-3{
    flex:3;
}